*
{
	font-family: "Arial", sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
}

body
{
	color: #000000;
	background: #ffffff;
}

a
{
	text-decoration: none;
	color: #0020b0;
	background: none;
}


a:visited
{
	color: #503090;
}

a:active
{
	color: #f0a000;
}

a:hover
{
	color: #2240b0;
	text-decoration: underline;
}

p
{
	text-align: justify;
	margin: 0.4em 0 0.4em 0;
}

li
{
	list-style-type: none;
}

input
{
	color: #000;
	border: 1px solid #000;
	background-color: #f0f0f0;
}

textarea
{
	color: #000;
	border: 1px solid #000;
	background-color: #f0f0f0;
}

select
{
	color: #000;
	border: 1px solid #000;
	background-color: #f0f0f0;
}

table
{
	border-collapse: collapse;
	background-color: #f8f8f8;
	margin: 2em 0 2em 4em;
}

th
{
	border: 1px solid #000;
	background-color: #e0e0e0;
}

td
{
	border: 1px solid #000;
	vertical-align: top;
}

pre
{
	font-family: "Lucida Console", monospace;
	margin: 0;
	padding: 0;
}
