*
{
	font-family: "Arial", sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
}

body
{
	color: #000000;
	background: #ffffff;
}

a
{
	color: #008aff;
	text-decoration: none;
	background: none;
}

a:visited
{
	color: #0078de;
}

a:active
{
	color: #30a0ff;
}

a:hover
{
	color: #ffa200;
}

p
{
	text-align: justify;
	margin: 0 0 0.8em 0;
	width: 64em;
}

li
{
	list-style-type: none;
}

input
{
	color: #000;
	border: 1px solid #000;
	background-color: #f8f8f8;
	padding: 0.1em 0.4em 0.2em 0.4em;
}

input.radio
{
	border: none;
	background: none;
}

textarea
{
	color: #000;
	border: 1px solid #000;
	background-color: #f8f8f8;
}

select
{
	color: #000;
	border: 1px solid #000;
	background-color: #f8f8f8;
}

option
{
	padding: 0 0.2em 0 0.2em;
	vertical-align: middle;
	background-color: #f8f8f8;
}

table
{
	border-collapse: collapse;
	background-color: #f8f8f8;
	margin: 0 0 1em 0;
}

table p
{
	width: auto;
}

th
{
	border: 1px solid #000;
	background-color: #e0e0e0;
}

td
{
	border: 1px solid #000;
	vertical-align: top;
}

pre
{
	font-family: "Lucida Console", monospace;
	margin: 0;
	padding: 0;
}

p.security
{
	display: none;
}

p.indent
{
	margin-left: 2em;
}

ul.error
{
	margin: 0 0 1em 2em;
}

ul.error li
{
	list-style-type: square;
}

ul.formLabel
{
	padding-bottom: 0.5em;
}

ul.formLabel li
{
	padding-bottom: 0.1em;
}

#siteContent
{
	margin: 2em 4em 2em 4em;
}

#menu
{
	background-color: #000;
	padding: 0.2em 0 0.2em 4em;
	margin: 0 0 1em 0;
	min-width: 62em;
}

#menu li
{
	font-weight: bold;
	display: inline;
	padding-right: 2em;
}

#menu a
{
	text-decoration: none;
	color: #fff;
	background: none;
}

#menu a:hover
{
	color: #aaa;
}


