*
{
	font-family: "Arial", sans-serif;
	font-size: small;
	margin: 0;
	padding: 0;
}

body
{
	color: #000000;
	background: #ffffff;
}

a
{
	color: #008aff;
	text-decoration: none;
	background: none;
}

a:visited
{
	color: #0078de;
}

a:active
{
	color: #30a0ff;
}

a:hover
{
	color: #ffa200;
}

p
{
	text-align: justify;
	margin: 0 0 0.8em 0;
}

li
{
	list-style-type: none;
}

input
{
	color: #000;
	border: 1px solid #000;
	background-color: #f8f8f8;
	padding: 0 0.5em 0 0.5em;
}

textarea
{
	color: #000;
	border: 1px solid #000;
	background-color: #f8f8f8;
}

select
{
	color: #000;
	border: 1px solid #000;
	background-color: #f8f8f8;
}

table
{
	border-collapse: collapse;
	background-color: #f8f8f8;
	margin: 2em 0 2em 4em;
}

th
{
	border: 1px solid #000;
	background-color: #e0e0e0;
}

td
{
	border: 1px solid #000;
	vertical-align: top;
}

pre
{
	font-family: "Lucida Console", monospace;
	margin: 0;
	padding: 0;
}

#siteContent
{
	margin: 2em 4em 2em 4em;
}
