#syntaxTable
{
	background: none;
	width: 64em;
}

#syntaxTable tr
{
	border: 1px solid black;
}

#syntaxTable td
{
	padding: 0.3em 1em 0.3em 1em;
	vertical-align: middle;
}

#syntaxTable td.leftSide
{
	border-right-style: none;
	white-space: nowrap;
	width: 18em;
}

#syntaxTable td.rightSide
{
	border-left-style: none;
}

#author, #postDescription, #unitDescription
{
	width: 15em;
}

#commonHighlighting
{
	width: 10em;
}

#advancedHighlighting
{
	width: 28em;
}

#content
{
	margin: 0;
	padding: 0.3em 0.5em 0.3em 0.5em;
	width: 64em;
	height: 22em;
}

#syntaxTable #contentRow
{
	margin: 0;
	padding: 0;
	border: 0;
}

#contentRow td
{
	margin: 0;
	padding: 1em 0 0 0;
	border: 0;
}

#commonHighlighting, #advancedHighlighting, #expertHighlightingList
{
	display: none;
}

#privatePost, #expiration
{
	width: 10em;
}

table.descriptionTable td.description
{
	font-weight: bold;
	width: 7em;
}

table.descriptionTable td
{
	padding: 0 0.6em 0 0.6em;
}

ul.contentList
{
	margin: 0 0 0 4em;
	border: 1px solid black;
}

ul.contentList li.oddLine
{
	background-color: #ffffff;
	border-bottom: 1px dotted black;
}

ul.contentList li.evenLine
{
	background-color: #f0f0f0;
	border-bottom: 1px dotted black;
}

ul.contentList li.oddLastLine
{
	background-color: #ffffff;
}

ul.contentList li.evenLastLine
{
	background-color: #f0f0f0;
}

ul.lineNumbers
{
	position: absolute;
	left: auto;
	top: auto;
	width: 4em;
	border: 1px solid black;
}

ul.lineNumbers li
{
	text-align: right;
}
