#syntaxTable
{
	background: none;
	width: 64em;
}

#syntaxTable tr
{
	border: 1px solid black;
}

#syntaxTable td
{
	padding: 0.3em 1em 0.3em 1em;
	vertical-align: middle;
}

#syntaxTable td.leftSide
{
	border-right-style: none;
	white-space: nowrap;
	width: 30em;
}

#syntaxTable td.rightSide
{
	border-left-style: none;
}

#author, #postDescription, #unitDescription
{
	width: 15em;
}

#commonHighlighting
{
	width: 10em;
}

#advancedHighlighting
{
	width: 28em;
}

#content
{
	margin: 0;
	padding: 0.3em 0.5em 0.3em 0.5em;
	width: 64em;
	height: 22em;
}

#syntaxTable #contentRow
{
	margin: 0;
	padding: 0;
	border: 0;
}

#contentRow td
{
	margin: 0;
	padding: 1em 0 0 0;
	border: 0;
}

#commonHighlighting, #advancedHighlighting, #expertHighlightingList
{
	display: none;
}

#privatePost, #expiration
{
	width: 10em;
}

table.descriptionTable
{
	margin: 0 0 1em 0;
}

table.descriptionTable td.description
{
	font-weight: bold;
}

table.descriptionTable td
{
	padding: 0 0.6em 0 0.6em;
}

table.postList td, table.postList th
{
	padding: 0 0.6em 0 0.6em;
}

div.unitContainer
{
	margin-top: 1em;
	position: absolute;
	white-space: nowrap;
	display: inline-block;
	padding: 0 2em 2em 0;
}

ul.contentList
{
	margin: 0 0 0 4em;
	border: 1px solid black;
}

ul.contentList li
{
	font-family: "Lucida Console", monospace;
	height: 1.2em;
	padding: 0 1em 0 1em;
}

ul.contentList li.oddLine
{
	background-color: #ffffff;
	border-bottom: 1px dotted #808080;
}

ul.contentList li.evenLine
{
	background-color: #f8f8f8;
	border-bottom: 1px dotted #808080;
}

ul.contentList li.oddLastLine
{
	background-color: #ffffff;
}

ul.contentList li.evenLastLine
{
	background-color: #f4f4f4;
}

ul.lineNumbers
{
	position: absolute;
	top: 0;
	left: -1px;
	width: 4em;
	border: 1px solid black;
}

ul.lineNumbers li
{
	height: 1.2em;
	margin-right: 0.5em;
	text-align: right;
	border-bottom: 1px dotted white;
}

ul.lineNumbers li.lastLine
{
	text-align: right;
	border-bottom: none;
}

ul.contentList span, ul.contentList a
{
	font-family: "Lucida Console", monospace;
}

.Comment
{
	color: #008000;
}

.Constant
{
	color: #ff0000;
}

.Special
{
	color: #ff00ff;
}

.Identifier
{
	color: #106060;
}

.Statement
{
	color: #0000ff;
}

.PreProc
{
	color: #0000ff;
}

.Type
{
	color: #0000ff;
}

.Ignore
{
	color: #808080;
}

.Error
{
	color: #ff0000;
}

.Todo
{
	color: #ff00ff;
}
