#instructionListDescription
{
    margin-bottom: 2em;
}

#instructionSummary
{
    margin-left: 2em;
    font-style: italic;
    font-size: 1.2em;
}

#instructionPseudoCode
{
    display: table;
    margin: 0 0 1em 2em;
    padding: 0.5em;
    border: 1px solid black;
    background-color: #f8f8f8;
}

p
{
    margin-left: 2em;
}

table
{
    margin-left: 2em;
}

span.invalidField
{
    color: #ff0000;
}

span.validField
{
    color: #00b000;
}

#instructionDescription ul
{
    margin: 0 0 1em 4em;
}


#instructionDescription li
{
    list-style-type: circle;
}