ul.lineNumbers
{
    width: 4em;
    border: 1px solid black;
    float: left;
}

ul.lineNumbers li
{
    font-family: "Lucida Console", monospace;
    height: 1.2em;
    margin-right: 0.5em;
    text-align: right;
    border-bottom: 1px dotted white;
}

ul.lineNumbers li.lastLine
{
    text-align: right;
    border-bottom: none;
}

ul.contentList
{
    border: 1px solid black;
    border-left: none;
    float: left;
    margin-bottom: 1em;
}

ul.contentList li
{
    font-family: "Lucida Console", monospace;
    height: 1.2em;
    padding: 0 1em 0 1em;
}

ul.contentList li.oddLine
{
    background-color: #ffffff;
    border-bottom: 1px dotted #808080;
}

ul.contentList li.evenLine
{
    background-color: #f8f8f8;
    border-bottom: 1px dotted #808080;
}

ul.contentList li.oddLastLine
{
    background-color: #ffffff;
}

ul.contentList li.evenLastLine
{
    background-color: #f4f4f4;
}

ul.contentList span, ul.contentList a
{
    font-family: "Lucida Console", monospace;
}

.Comment
{
    color: #008000;
}

.Constant
{
    color: #ff0000;
}

.Special
{
    color: #ff00ff;
}

.Identifier
{
    color: #106060;
}

.Statement
{
    color: #0000ff;
}

.PreProc
{
    color: #0000ff;
}

.Type
{
    color: #0000ff;
}

.Ignore
{
    color: #808080;
}

.Error
{
    color: #ff0000;
}

.Todo
{
    color: #ff00ff;
}